.Rproj.user
.Rhistory
.RData
.Ruserdata
default-cards-20230425090634.json
.secrets
cmdr.gsheet
input_data.gsheet
*.gsheet
venv/
.conda
__pycache__/
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.conda/
conda/